In [ ]:
my_int = 42
print("Original Integer:", my_int)
result=my_int*2
print("Result after multiplication:",result)

Original Integer: 42
Result after multiplication: 84

In [ ]:
import random
responses ={
    "hours:" "monday to friday",
    "products:" "electronics, clothing, accessories",
    "location:" " We offer u remote locations",
    "help:" " How can i assist you today? you can ask about hours,products,location,help."
}
def chatbot_responses(user_input):
  user_input = user_input.lower()

  if "hours" in user_input:
    return responses["hours"]
  elif "products" in user_input:
    return responses["products"]
  elif "location" in user_input:
    return responses["location"]
  elif "help" in user_input:
    return responses["help"]
  else:
      return "Sorry"

print("Chatbot: Hello! How can I assist you today?")
while True:
  user_input = input("You: ")
  if user_input.lower() in ["exit," "quit"]:
    print("Chatbot: Goodbye!")
    break
  response = chatbot_responses(user_input)
  print("Chatbot:", response)

Chatbot: Hello! How can I assist you today?
You: hours

TypeError: 'set' object is not subscriptable

In [ ]:
t1=('a',)
type(t1)
 #<type 'tuple'>
print(type(t1))

<class 'tuple'>

In [ ]:
student = {
    "Name": 1,
    "id": 2,
    "section": 3
}
print(student)

{'Name': 1, 'id': 2, 'section': 3}

In [ ]:
student_data = {
    "number_of_hours_studied": [5, 3, 8, 2, 6],
    "screen_time": [2, 4, 1, 5, 3],
    "name": ["keerth", "pushp", "srivall", "reddy", "konda"],
    "marks": [85, 70, 95, 60, 88]
}

print(student_data)

{'number_of_hours_studied': [5, 3, 8, 2, 6], 'screen_time': [2, 4, 1, 5, 3], 'name': ['keerth', 'pushp', 'srivall', 'reddy', 'konda'], 'marks': [85, 70, 95, 60, 88]}

In [ ]:
text = "Hello World! Python is fun"
swapped_text=text.swapcase()
print("Original text:", text)
print("Swapped Text:", swapped_text)

Original text: Hello World! Python is fun
Swapped Text: hELLO wORLD! pYTHON IS FUN

In [ ]:
r=range(10)
print(r)
my_list=list(r)
print(my_list)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
my_list=list(range(5,16,2))
print(my_list)

[5, 7, 9, 11, 13, 15]

In [ ]:
def my_function(*args):
  total=sum(args)
  return total
print("Sum of 1 2 3:",my_function(1,2,3))
print("Sum of 23 34 45:", my_function(23,34,45))
print("Sum of no numbers:", my_function())

Sum of 1 2 3: 6
Sum of 23 34 45: 102
Sum of no numbers: 0

In [ ]:
add = lambda x, y: x + y
result = add(5, 56)
print(result)

61

In [ ]:
correct_username = "gagana"
correct_password = "qwertyuiop"

while True:
    username = input("Enter username: ")
    password = input("Enter password: ")

    if username == correct_username and password == correct_password:
        print("Access granted!")
        break
    else:
        print("Incorrect username or password. Please try again.")

Enter username: gagana
Enter password: qwertyuiop
Access granted!